body{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* sfondo per la grid */
/* .canvas{
    background-color: rgb(255, 255, 255);
    animation: colorCycle 20s infinite alternate-reverse;
} */

/* sfondo per la neve */
/* .canvas{
    background-color: rgb(185, 185, 185);
    animation: colorCycle 20s infinite alternate-reverse;
} */

/* sfondo per rettangoli a scorrimento */
.canvas{
    background-color: rgb(255, 255, 255);
    animation: colorCycle 20s infinite alternate-reverse;
}

/* @keyframes colorCycle {
    0% {
        background-color: rgb(255, 255, 255);
    }
    25% {
        background-color: rgb(255, 255, 255);
    }
    50% {
        background-color: rgb(255, 255, 255);
    }
    75% {
        background-color: rgb(255, 255, 255);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
} */